.header{
    background-color:#010538;
    padding: 20px; 
    border: 1px solid ; 
    border-radius: 1px #2b3801;
}

a{
    color: white;
    margin: 5px;
    font-size: medium;
    padding: 3px;
    text-decoration: none;
}

a:hover{
    color: brown;
}

